/* styles.css veya HomePage.css gibi bir dosyada tanımlayabilirsiniz */

.homepage-container {
  padding: 40px;
  text-align: center;
}

.homepage-title {
  font-size: 2.5rem;
  margin-bottom: 40px;
}

.homepage-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.homepage-buttons .ant-btn {
  margin: 10px;
}
